
.principais {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.principal1 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.principal1 h1 {
    font-size: 100px;
}

.nome_estufa {
    color: white;
    background-color: #E3101F;
    border-radius: 24px 0px 0px 24px ;
    font-weight: bold;
    font-size: xx-large;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.informacoes_tudo {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
}

.informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info1 {
 
}

.info2 {
  
}



.box1 {
    padding: 12px 24px 12px 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
}

.box1 canvas {
    width: 18vw;
    position: relative;
}

.titulo {
    font-weight: bold;
}

.parte1_temp,
.parte1_umid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 6px 12px;
    margin-top: 12px;
    border-radius: 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.box2 {

}

.kpi1{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    clip-path: inset(-15px -15px -15px);
    padding: 8px;
    margin: 30px;
    border-radius: 24px;
}

.kpi_qtd_sensor{
    background-color: #B31C45;
    /* box-shadow: 0 0 8px rgba(0,0,0,0.4); */
    border-radius: 15px;
    padding: 8px;
    margin: auto;
    width: 50%;
}

.sensoresBox {
    padding: 32px 0px 32px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    place-items: center;
}

.sensoresBox .box {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    clip-path: inset(-15px -15px -15px);
    width: 80%;
    padding: 16px;
    margin-bottom: 32px;
}

.sensoresBox .box #nomeSensor {
    font-size: 20px;
    font-weight: bold;
}

.box .divisao {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.box .divisao .ladoTemp {
    border-right: 1px solid black;
}

.box .divisao .reguaMedida {
    margin: 0 auto;
    margin-top: 16px;
    width: 50%;
    height: 16px;
}

::-webkit-scrollbar-track {
    background-color: #fddfdf;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cf0b0b;
    border-radius: 16px;
}
.parte1_temp, .parte1_umid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 6px 12px;
    border-radius: 24px;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    width: fit-content;
   margin: auto;

}
.status {
    border-radius: 100%;
    height: 18px;
    width: 18px;
    margin: 5px;
}

.parte1_temp .status {
    background-color: #9ccc65;
}